<form action="#">
  <div class="steps current">
    <input type="text" name="actionvalue" placeholder="Action value">
    <a href="#next">Next</a>
  </div>

  <div class="steps">
    <input type="text" name="telephone" placeholder="Telephone number">
    <a href="#next">Next</a>
  </div>

  <div class="steps">
    <input type="text" name="code" placeholder="Code from SMS">
    <button>Verify and Send</button>
  </div>

  <div class="steps">
    Success
  </div>
</form>