<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  {{{body}}}

  <script src="/javascripts/jquery-3.5.1.min.js"></script>
  <script src="/javascripts/main.js"></script>
</body>

</html>