<div class="login__steps current">
    <input type="text" placeholder="Login">
    <input type="hidden" value="+380503332211">
    <a href="#next" class="login__btn">Next</a>
</div>
<div class="login__steps">
    <input type="text" placeholder="Auth Code">
    <a href="#" class="login__btn">Login</a>
</div>