<div class="login__steps current">
    <input type="text" placeholder="Login">
    <input type="hidden" value="+380666282418" id="loginPhone">
    <a href="#next" class="login__btn" onclick="getLogin(document.getElementById('loginPhone').value)">Next</a>
</div>

<div class="login__steps">
    <input type="text" placeholder="Auth Code" id="codeLogin">
    <a href="#" class="login__btn" onclick="getCodeLogin(document.getElementById('codeLogin').value)">Login</a>
    <p id="errorOrSuccess"></p>
</div>